{% extends "base.html" %}
{% load static %}


<!-- index.html content starts here -->
{% block header %}

<div class="container header">
  <div class="row">
    <div class="col-12 callout jumbotron text-center">
        <h1 class="jumbotron-header">Welcome to Restaurant Sakura!</h1>
        <p>A dining experience focusing on asian cuisine</p>
        <button type="button" class="btn btn-secondary btn-lg header-btn">Book a table</button>
        <button type="button" class="btn btn-secondary btn-lg header-btn">Menu</button>
    </div>
  </div>
</div>  

{% endblock header %}

{% block information %}

<div class="container information mt-3">  
  <div class="row">
    <div class="col-12">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum."</p>
      <h4>Opening hours:</h4>
    </div>
  </div>
</div>  

{% endblock information %}

{% block booking %}

<div class="container booking mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6 booking-image">
      <img src="/static/images/dinner_plate.png" alt="image of dinner plate">
    </div>
    <div class="col-sm-12 col-md-6 book-btn">
      <button type="button" class="btn btn-secondary btn-lg">Book a table</button>
    </div>
  </div>
</div>  

{% endblock booking %}

{% block contact %}

<div class="container contact mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h2>Contact us at:</h2>
      <p>Mail:</p>
      <p>Phone number:</p>
      <p>Contact form</p>
    </div>
    <div class="col-sm-12 col-md-6 contact-image">
      <img src="/static/images/drinks.png" alt=" image of drinks">
    </div>
  </div>
</div>

{% endblock contact %}

{% block menu %}

<div class="container menu mt-3">
  <div class="row">
    <div class="col-12 menu-btn">
      <button type="button" class="btn btn-secondary btn-lg">View our menues</button>
    </div>
  </div>
</div>

{% endblock menu %}

