{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block login %}

<div class="container">
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <h1>Sign In</h1>

      <p>To be able to view, edit or delete your reservation - please login. 
      <br>
      If you haven't signed up for an account yet, please do so here: <a class="link" href="{{ signup_url }}">Sign up</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3 text-center">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-secondary" type="submit">Sign In &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock login %}