{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block booking %}

<!-- Book a table headline -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Make a reservation</h2>
            <p>Fill out the form below and we will confirm your reservation via email.</p>
            <p>Make sure to read the restaurants Booking Policy before completing your reservation.</p>

            <!-- Book a table form -->
            <form method="post">
                {% csrf_token %}
                {{ booking_form.media }}
                {{ booking_form | crispy }}
                <button class="btn btn-secondary" type="submit">Make reservation</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md6 contact-background">
            <div class="booking-policy callout text-center my-5">
                <h2>Booking Policy:</h2>
                <p>If a reservation is made then the table is yours for the whole of service. 
                    However, should you arrive more than 30 minutes after your booking time
                    without forewarning,  you may lose your table to another group.
                    <br>
                    We would respectfully ask that you are ready to be seated at the time of your reservation. Should
                    you arrive after your booking time, we may need to hold you back to a later time to ensure the best
                    possible level of service to all our guests.
                    <br>
                    It is essential that we are notified of any specific dietary requirements prior to your visit to
                    ensure that we can cater for you appropriately. If you have not informed us at the point of booking,
                    please contact the restaurant to discuss your requirements with a member of our team.</p>
            </div>
        </div>
    </div>

    {% endblock booking %}