{% extends "base.html" %}
{% load static %}

{% block view_booking %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Your Reservations</h1>
            <ul>
                {% for booking in bookings %}
                <li>
                    {{ booking.date }} at {{ booking.time }} for {{ booking.number_of_guests }} guests
                    <a href="{% url 'booking_edit' booking.id %}">Edit</a>
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'booking' %}">New Reservation</a>
        </div>
    </div>
</div>

{% endblock view_booking %}