{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block booking %}

<body>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Make a reservation</h2>
            <p>Fill out the form below:</p>

            <!--Contact form-->
            <form method="post">
                {{ booking_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Make reservation</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7x0me+N5+tWZLg0Hgf8dHDq5P+H/kd5M6oF" crossorigin="anonymous"></script>

    {{ booking_form.media }}
    
    <!-- DateTimePicker script -->
    <script>
        $(function () {
            $('#id_date').datetimepicker({
                format: 'YYYY-MM-DD',
                useCurrent: false
            });
            $('#id_time').datetimepicker({
                format: 'HH:mm',
                useCurrent: false
            });
        });
    </script>
</body>


{% endblock booking %}