{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h1>Delete Reservation</h1>
            <p>Are you sure you want to delete the reservation for {{ booking.date }} at {{ booking.time }}?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn btn-secondary">Delete</button>
                <button class="btn btn-secondary"><a href="{% url 'booking_list' %}">Cancel</a></button>
            </form>
        </div>
    </div>
</div>

<!-- Delete confirmation Modal -->
<div class="modal fade" id="deleteconfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="confirmationModalLabel">Delete Confirmation</h2>
            </div>
            <div class="modal-body text-center">
                <p>Your reservation has been successfully deleted!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('success')) {
            const modalElement = document.getElementById('deleteconfirmationModal');
            if (modalElement) {
                var confirmationModal = new bootstrap.Modal(modalElement);
                confirmationModal.show();

                // Rensa query-parametern från URL:en
                urlParams.delete('success');
                window.history.replaceState({}, document.title, window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : ''));
            } else {
                console.error('Modal element not found');
            }
        }
    });
</script>

{% endblock scripts %}