body {
    background-color: rgb(255,236,236);
}

nav {
    background-color: rgb(255,236,236);
}

.nav-item {
    margin: auto;
}

.navbar-nav {
    flex-direction: row;
}

.icon-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
    display: inline-block;
}

.social {
    float: right;
}

.header {
    height: 50vh;
    background: url('/static/images/pexels-quark-studio-1159039-3201921.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.callout {
    background-color: rgba(255,236,236,0.8);
    padding: 20px;
}

h1 {
    text-transform: uppercase;
}

.booking-image img, .menu-image img {
    max-width: 100%;
    height: auto;
}

.book-btn {
    align-items: center;
    justify-content: center;
    margin: auto;
}

