body {
    background-color: rgb(255,236,236);
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
}

nav {
    background-color: rgb(255,236,236);
}

.nav-item {
    margin: auto;
}

.icon-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
    display: flex;
}

.header {
    height: 50vh;
    background: url('/static/images/pexels-quark-studio-1159039-3201921.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.btn-secondary {
    width: 10em;
    margin: 10px;
    padding: 15px 0px;
    font-size: 1.2em;
    font-family: 'Courgette', cursive;
}


.callout {
    background-color: rgba(255,236,236,0.8);
    padding: 20px 40px;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.5em;
}

h4 {
    font-family: 'Courgette', cursive;
}

.booking-image img, .contact-image img {
    max-width: 100%;
    height: auto;
}

.book-btn, .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    flex-direction: row;
    margin: auto;
}



