body {
    background-color: rgb(255,236,236);
    font-family: 'Roboto', sans-serif;
}

/*Navigation bar*/

.navbar-brand {
    font-family: 'Courgette', cursive;
}

nav {
    background-color: rgb(255,236,236);
}

.nav-item {
    margin: auto;
}

.icon-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
    display: flex;
}

.header {
    height: 50vh;
    background: url('/static/images/pexels-quark-studio-1159039-3201921.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.callout {
    background-color: rgba(255,236,236,0.8);
    padding: 20px 40px;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.5em;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 2em; 
}

h3, h4 {
    font-family: 'Courgette', cursive;
}

.booking-image img, .contact-image img {
    max-width: 100%;
    height: auto;
}

/*Buttons*/

.btn-secondary {
    width: 10em;
    margin: 10px;
    padding: 15px 0px;
    font-size: 1.2em;
    font-family: 'Courgette', cursive;
}

.book-btn, .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer*/

footer .d-flex {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

footer h6, .navbar-brand {
    margin: 10px auto;
}

footer .btn {
    margin: 10px;
}

footer ul.nav-item {
    list-style-type: none;
    padding: 5px;
    margin: auto;
}

/*Menu page*/
.menu-header {
    height: 70vh;
    background: url('/static/images/pexels-suju-2099737.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}