{% extends "base.html" %}
{% load static %}

{% block menu %}

<!-- Buttons for menu options -->
<div class="container">
    <div class="row">
        <div class="col-12 jumbotron menu-header text-center">
            <button class="btn btn-secondary btn-lg menu-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#foodMenuModal">Food menu</button>
            <button class="btn btn-secondary btn-lg menu-btn" type="button" data-bs-toggle="modal"
                data-bs-target="#drinkMenuModal">Drink menu</button>
        </div>

        <!-- Modal for Food Menu -->
        <div class="modal fade " id="foodMenuModal" tabindex="-1" aria-labelledby="foodMenuModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="foodMenuModalLabel">Food Menu</h1>
                        <button type="button" class="btn-close text-center" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h2>Starters</h2>
                        <h5>Edamame</h5>
                        <p>Sakura Style</p>
                        <h5>Uramaki Salmon</h5>
                        <p>Yuzu, fennel, green asparagus, sakura</p>
                        <h5>Tuna</h5>
                        <p>Soy sauce, sesame, gchili, mango, coriander</p>
                        <h5>Crispy Shrimps</h5>
                        <p>With chilicreme</p>
                        <h5>Beef gyoza</h5>
                        <p>Ginger, chili, roasted garlic, gari</p>
                        <br>
                        <h2>Main courses</h2>
                        <h5>Torched Chili Salmon</h5>
                        <p>Papaya, citrus mayo, thai basil, ginger dressing</p>
                        <h5>Hokkaido Scallop</h5>
                        <p>Crispy chili, chives, lemongrass mayo, fried lotus chips</p>
                        <h5>Korean Fried Chicken</h5>
                        <p>Spicy dressing, spring onion, furikake</p>
                        <h5>Crispy Cauliflower</h5>
                        <p>Gochujang glace, coriander, yuzu emulsion</p>
                        <h5>Steamed Duck Dumpling</h5>
                        <p>Hoisin & citrus dressing, pickled chili, sesame</p>
                        <br>
                        <h2>Desserts</h2>
                        <h5>Chocolate fondant</h5>
                        <p>Coconut icecream, grilled pinapple</p>
                        <h5>Sesame icecream</h5>
                        <p>Cream cheese, rasberries, chocolate</p>
                        <h5>Strawberries</h5>
                        <p>Roasted white chocolate, mint, sour creme sorbet</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-center" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for Drink Menu -->
        <div class="modal fade" id="drinkMenuModal" tabindex="-1" aria-labelledby="drinkMenuModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="drinkMenuModalLabel">Drink Menu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Coctails</h2>
                    <h5>Margarita</h5>
                    <p>Tequila, Cointreau, lime</p>
                    <h5>Mojito</h5>
                    <p>Tequila, mint, lime</p>
                    <h5>Aperol Spritz</h5>
                    <p>Aperol, prosecco, splash of soda water</p>
                    <h5>Moscow Mule</h5>
                    <p>Vodka, lime, ginger beer</p>
                    <h5>Caipirinhia</h5>
                    <p>Cachaca 51, lime, sugar</p>
                    <br>
                    <h2>Bubbles</h2>
                    <h5>Pizzolato</h5>
                    <p>Italy, prosecco</p>
                    <h5>Los Monteros</h5>
                    <p>Spain, Cava</p>
                    <h5>Charles Heidsieck</h5>
                    <p>France, Blanc de blanc</p>
                    <h5>Barton & Guestier</h5>
                    <p>France, Crémante</p>
                    <h5>Dom Pérignon</h5>
                    <p>France, Champagne</p>
                    <br>
                    <h2>White wine</h2>
                    <h5>Domäne Wachau</h5>
                    <p>Austria, Riesling</p>
                    <h5>Domaine Rijckaert</h5>
                    <p>France, Chardonnay</p>
                    <h5>Pascal Jolivet</h5>
                    <p>France, Sauvignon Blanc</p>
                    <h5>Domaine Huet</h5>
                    <p>Germany, Riesling</p>
                    <h5>Vincent Girardin</h5>
                    <p>France, Chardonnay</p>
                    <br>
                    <h2>Red wine</h2>
                    <h5>Heartland</h5>
                    <p>Australia, Dosetto</p>
                    <h5>Pavette</h5>
                    <p>USA, Pinot Noir</p>
                    <h5>Mattheu Barret</h5>
                    <p>France, Syrah</p>
                    <h5>Il Mortellito</h5>
                    <p>Italy, Nero D'avola</p>
                    <h5>Alvaro Palacios</h5>
                    <p>Spain, Merlot & Cabernet Sauvignon</p>
                    <br>
                    <h2>Beer</h2>
                    <h5>Buxton Best Bitter</h5>
                    <p>England, Pale Ale</p>
                    <h5>Oettinger Black Beer</h5>
                    <p>Germany, Dark Lager</p>
                    <h5>No Resolution IPA</h5>
                    <p>Usa, IPA</p>
                    <h5>Hunter</h5>
                    <p>Sweden, Light Lager</p>
                    <h5>A Ship Full of IPA</h5>
                    <p>Sweden, IPA</p>
                    <br>
                    <h2>Non-alcoholic</h2>
                    <h5>Sparkling water</h5>
                    <h5>Coca Cola</h5>
                    <h5>Fanta</h5>
                    <h5>Sprite</h5>
                    <h5>Heineken</h5>
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>

{% endblock menu %}