{% load static %}
{% load crispy_forms_tags %}

{% url 'home' as home_url %}
{% url 'menues' as menues_url %}
{% url 'location' as location_url %}
{% url 'contact' as contact_url %}
{% url 'booking' as booking_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}


<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metatags for search engines -->
    <meta name="description" content="x">
    <meta name="keywords" content="x">
    <meta name="author" content="Restaurant Sakura - japanese/asian dining">

    <!-- Title -->
    <title>Restaurant Sakura</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4b24704efa.js" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Courgette&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap" 
    rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    
    <!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">

        <!-- Navigation menu -->
        <div class="row mt-3">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{% url 'landing_page' %}"><img
                            src="{% static 'favicon/favicon-32x32.png' %}" alt="Logo" width="30" height="24"
                            class="d-inline-block align-text-top"> Restaurant Sakura</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == landing_page_url %}active"
                                    aria-current="page{% endif %}" href="{% url 'landing_page' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == menues_url %}active"
                                    aria-current="page{% endif %}" href="{% url 'menues' %}">Menues</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == location_url %}active"
                                    aria-current="page{% endif %}" href="{% url 'location' %}">Location</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == contact_url %}active"
                                    aria-current="page{% endif %}" href="{% url 'contact' %}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-outline-secondary"><a
                                        class="nav-link {% if request.path == booking_url %}active"
                                        aria-current="page{% endif %}" href="{% url 'booking' %}">Book a
                                        table</a></button>
                            </li>
                        </ul>

                        <!-- Social media icons -->
                        <ul class="navbar-nav">
                            <li class="nav-item d-none d-md-block">
                                <a class="icon-link" href="http://www.facebook.com" target="_blank"><i
                                        class="fa-brands fa-square-facebook"></i></a>
                            </li>
                            <li class="nav-item d-none d-md-block">
                                <a class="icon-link" href="http://instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li class="nav-item d-none d-md-block">
                                <a class="icon-link" href="https://www.tiktok.com/explore" target="_blank"><i
                                        class="fa-brands fa-tiktok"></i></a>
                            </li>
                            <li class="nav-item d-none d-md-block">
                                <a class="icon-link" href="https://x.com/?lang=en" target="_blank"><i
                                        class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li class="nav-item d-none d-md-block">
                                <a class="icon-link" href="https://www.youtube.com/" target="_blank"><i
                                        class="fa-brands fa-youtube"></i></a>
                            </li>
                        </ul>

                        <!-- User login, logout and registration -->
                        <ul class="navbar-nav ms-auto">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                                    aria-current="page" href="{% url 'account_login' %}">Sign In</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <main>
        <!-- Logged in/logged out info -->
        <div class="container">
            <div class="row">
                {% if user.is_authenticated %}
                <p class="text-end">You are logged in as {{ user }}</p>
                {% else %}
                <p class="text-end">You are not logged in</p>
                {% endif %}
            </div>
        </div>


        {% block signup %}
        <!-- Sign up content goes here -->
        {% endblock signup %}

        {% block login %}
        <!-- Login content goes here -->
        {% endblock login %}

        {% block logout %}
        <!-- Logout content goes here -->
        {% endblock logout %}

        {% block header %}
        <!-- Header image, h1 and button content goes here -->
        {% endblock header %}

        {% block information %}
        <!-- Information about the restaurant goes here -->
        {% endblock information %}

        {% block booking %}
        <!-- Booking content goes here -->
        {% endblock booking %}

        {% block booking_confirmation %}
        <!-- Booking confirmation content goes here -->
        {% endblock booking_confirmation %}

        {% block contact %}
        <!-- Contact content goes here -->
        {% endblock contact %}

        {% block contact_confirmation %}
        <!-- Contact confirmation content goes here -->
        {% endblock contact_confirmation %}

        {% block menu %}
        <!-- Menu content goes here -->
        {% endblock menu %}

        {% block map %}
        <!-- Contact and map content goes here -->
        {% endblock map %}

    </main>

    <!-- Footer content -->
    <footer class="container mt-3">
        <div class="row">
            <div class="col-12 d-flex flex-wrap">
                <a class="navbar-brand" href="{% url 'landing_page' %}"><img
                        src="{% static 'favicon/favicon-32x32.png' %}" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top"> Restaurant Sakura</a>
                <div class="d-flex">
                    <button type="button" class="btn btn-outline-secondary"><a
                            class="nav-link {% if request.path == contact_url %}active" aria-current="page{% endif %}"
                            href="{% url 'contact' %}">Contact</a></button>
                    <button type="button" class="btn btn-outline-secondary"><a
                            class="nav-link {% if request.path == booking_url %}active" aria-current="page{% endif %}"
                            href="{% url 'booking' %}">Book a table</a></button>
                </div>
                <h6>2024 &copy; Sofia Wallsquid</h6>
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item">
                        <a class="icon-link" href="http://www.facebook.com" target="_blank"><i
                                class="fa-brands fa-square-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icon-link" href="http://instagram.com" target="_blank"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icon-link" href="https://www.tiktok.com/explore" target="_blank"><i
                                class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icon-link" href="https://x.com/?lang=en" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icon-link" href="https://www.youtube.com/" target="_blank"><i
                                class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- Flatpickr Datetimepicker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

</body>

</html>