{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- Headline Contact form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 contact-background">
            <div class="contact-text callout text-center my-5">
                <h1>Contact us at:</h1>
                <h6>Mail: <a href="mailto:info@restaurantsakura.com">info@restaurantsakura.com</a></h6>
                <h6>Phone: +46 44 44 44</h6>
                <br>
                <h4>Opening hours:</h4>
                <h6>Monday: Closed</h6>
                <h6>Tuesday - Friday: 5pm - 12am</h6>
                <h6>Saturday: 3pm - 1am</h6>
                <h6>Sunday: Closed</h6>
            </div>
        </div>
        <div class="col-12 col-md-6 my-5">
            <h1>Ask us a question!</h1>
            <p>If you have any questions about your reservation, the menues, our whereabouts, allergies or anything else -
                just send us a message below and we will get back to you via email as soon as possible!</p>

            <!--Contact form-->
            <form method="post">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- Contact confirmation Modal -->
<div class="modal fade" id="contactconfirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="confirmationModalLabel">Thank you for contacting us!</h2>
            </div>
            <div class="modal-body text-center">
                <p>We will get back to you via email as soon as possible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('success')) {
            const modalElement = document.getElementById('contactconfirmationModal');
            if (modalElement) {
                var confirmationModal = new bootstrap.Modal(modalElement);
                confirmationModal.show();
    
                // Rensa query-parametern från URL:en
                urlParams.delete('success');
                window.history.replaceState({}, document.title, window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : ''));
            } else {
                console.error('Modal element not found');
            }
        }
    });
</script>
{% endblock scripts %}